:root { 
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: white;
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #ccc;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #121212;
}

h1, h2 {
  text-align: center;
  color: white;
}

button {
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: #ccc;
  border-color: #ccc;
}

button:focus,
button:focus-visible {
  outline: none;
}

.container {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  width: 320px;
  text-align: center;
  border: 1px solid #333;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #444;
  border-radius: 5px;
  background: #222;
  color: white;
  font-size: 14px;
}

input::placeholder {
  color: #bbb;
}

input[type="submit"], button {
  background: white;
  color: black;
  cursor: pointer;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

input[type="submit"]:hover, button:hover {
  background: #ccc;
  color: black;
}

p {
  color: white;
  font-size: 12px;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
